<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>訂單完成</title>
    {% load static %}
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Philosopher">
    <link rel="stylesheet" href="{% static  "onlinecss/style.css" %}" type="text/css">
    <link rel="icon" type="images/favicon.jpg" href="{% static 'images/favicon.jpg' %}">
</head>
<body>
    <div id="maindiv">
        <p class="title">訂購完成</p>
        <p class="subject">感謝您的訂購！</p>
        <p class="desc">您的訂單已送出，餐點準備中，請稍後！ 再次感謝您支持。<br />
        <a href="/order/" type="button">繼續購物</a>
</body>
</html>